body {
  color: black;
  background-color: #222222;
}

header {
  background-color: #bbbbbb;
} 

.container {
  position: relative;
  vertical-align: middle;
}

.top_right {
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 18px;
}

.top_left {
  position: absolute;
  top: 8px;
  left: 16px;
  font-size: 18px;
}
